
/* importing fancy fonts from google fonts */
@import url(https://fonts.googleapis.com/css?family=Quicksand&display=swap')

body{
  background-color: darkolivegreen;
}

/* changing header text to imported font */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;
}
