
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')

body {
  background-color: darkolivegreen;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;
}
